body {
  margin: 0;
  padding: 0;
}

body .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

body .main-container .left-sidebar {
  background: #5959c9;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 12px;
  height: 100vh;
}

body .main-container .left-sidebar .container {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

body .main-container .left-sidebar .container .logo {
  margin-bottom: 48px;
}

body .main-container .left-sidebar .container .nav li {
  list-style: none;
  padding: 16px 0;
}

body .main-container .left-sidebar .container .nav li a {
  color: white;
  text-decoration: none;
  padding: 12px 0;
}

body .main-container .left-sidebar .container .nav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

body .main-container .left-sidebar .container .bottom {
  margin-bottom: 100px;
}

body .main-container .left-sidebar .container .bottom .storage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main-container .left-sidebar .container .bottom .storage .top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-container .left-sidebar .container .bottom .storage .top-left img {
  margin-right: 8px;
}

body .main-container .left-sidebar .container .bottom .storage .top-left .text-storage {
  color: white;
}

body .main-container .left-sidebar .container .bottom .storage .top-left .text-percent {
  color: white;
  margin-left: auto;
}

body .main-container .left-sidebar .container .bottom .storage .progress .line {
  border-bottom: 6px solid red;
  border-radius: 24px;
}

body .main-container .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
}

body .main-container .middle .container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 3px solid #eeebeb63;
  padding: 24px;
  margin-left: 12px;
}

body .main-container .middle .container .global-bar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  background: #eeebeb63;
  width: 35%;
  border-radius: 24px;
  padding: 12px;
}

body .main-container .middle .container .global-bar-left i {
  color: #c0baba;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

body .main-container .middle .container .global-bar-left input {
  border: 0;
  background: transparent;
  width: 100%;
  outline: none;
}

body .main-container .middle .container .projects-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #eeebeb63;
  margin-bottom: 32px;
}

body .main-container .middle .container .projects-section .header h2 {
  font-size: 22px;
  font-weight: 500;
}

body .main-container .middle .container .projects-section .header a {
  color: gray;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .main-container .middle .container .projects-section .header a:hover {
  color: black;
}

body .main-container .middle .container .projects-section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main-container .middle .container .projects-section .cards .card {
  background: #eeebeb63;
  padding: 14px 24px;
  border-radius: 12px;
  margin: 8px 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .main-container .middle .container .projects-section .cards .card .project-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-container .middle .container .projects-section .cards .card .project-info .project-title {
  margin-top: 16px;
  font-size: 14px;
  margin-bottom: -12px;
}

body .main-container .middle .container .projects-section .cards .card .project-info .task {
  color: gray;
}

body .main-container .middle .container .projects-section .cards .card .project-bottom .progress p {
  position: relative;
  left: 200px;
  margin-bottom: 4px;
  font-size: 12px;
  color: #4C52BC;
  font-weight: 800;
}

body .main-container .middle .container .projects-section .cards .card .project-bottom .progress .progress-bar {
  border-bottom: 6px solid #4C52BC;
  border-radius: 24px;
  margin-bottom: 4px;
}

body .main-container .middle .container .projects-section .cards .empty {
  background: white;
  border: 3px dashed #ece8e8;
}

body .main-container .middle .container .projects-section .cards .empty .project-add {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-container .middle .container .projects-section .cards .empty .project-add i {
  padding: 18px;
  color: blue;
  background: #eeebeb63;
  border-radius: 50%;
}

body .main-container .middle .recent-section {
  margin-top: 24px;
}

body .main-container .middle .recent-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eeebeb63;
  margin-bottom: 32px;
}

body .main-container .middle .recent-section .header h2 {
  font-size: 22px;
  font-weight: 500;
}

body .main-container .middle .recent-section .header a {
  color: gray;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .main-container .middle .recent-section .header a:hover {
  color: black;
}

body .main-container .middle .recent-section .files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  height: 400px;
}

body .main-container .middle .recent-section .files .column .row {
  padding: 4px 12px;
  border-radius: 8px;
}

body .main-container .middle .recent-section .files .column .row .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .middle .recent-section .files .column .row .infos .info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-container .middle .recent-section .files .column .row .infos .info-left a {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

body .main-container .middle .recent-section .files .column .row .infos .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

body .main-container .middle .recent-section .files .column .row .infos .dots a {
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 800;
  color: gray;
  text-decoration: none;
}

body .main-container .middle .recent-section .files .column .row:hover {
  background: #eeebeb63;
}

body .main-container .middle .recent-section .files .column .row:hover .dots {
  visibility: visible;
}

body .main-container .right-sidebar {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

body .main-container .right-sidebar .container {
  padding: 24px;
}

body .main-container .right-sidebar .container .global-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .right-sidebar .container .global-bar-right i {
  color: gray;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .main-container .right-sidebar .container .global-bar-right img {
  margin-right: 12px;
  margin-left: auto;
}

body .main-container .right-sidebar .container .global-bar-right p {
  margin-right: 24px;
  cursor: pointer;
}

body .main-container .right-sidebar .container .global-bar-right .fa-circle {
  color: #F98E73;
  font-size: 6px;
  position: absolute;
}

body .main-container .right-sidebar .container .global-bar-right i:hover {
  color: black;
}

body .main-container .right-sidebar .container .global-bar-right i:hover .fa-circle {
  color: red;
}

body .main-container .right-sidebar .container .activities-section .header {
  border-bottom: 2px solid #eeebeb63;
  margin-bottom: 24px;
}

body .main-container .right-sidebar .container .activities-section .header h2 {
  font-weight: 500;
  font-size: 22px;
}

body .main-container .right-sidebar .container .activities-section .activity .circle {
  border-left: 3px solid #eeebeb63;
  margin-top: 24px;
}

body .main-container .right-sidebar .container .activities-section .activity .circle .fa-circle {
  font-size: 8px;
  position: relative;
  bottom: 20px;
  right: 14px;
  padding: 8px;
}

body .main-container .right-sidebar .container .activities-section .activity .circle--gray {
  color: #868181;
  background: #c9c7c77a;
  border-radius: 50%;
}

body .main-container .right-sidebar .container .activities-section .activity .circle--orange {
  color: orange;
  background: #c9c7c77a;
  border-radius: 50%;
}

body .main-container .right-sidebar .container .activities-section .activity .circle--blue {
  color: aqua;
  background: #c9c7c77a;
  border-radius: 50%;
}

body .main-container .right-sidebar .container .activities-section .activity .circle--red {
  color: red;
  background: #c9c7c77a;
  border-radius: 50%;
}

body .main-container .right-sidebar .container .activities-section .activity .activity__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .right-sidebar .container .activities-section .activity .activity__content .activity__description {
  margin-right: auto;
  margin-left: 6px;
  width: 70%;
}

body .main-container .right-sidebar .container .activities-section .activity .activity__content .time {
  color: gray;
}

body .main-container .right-sidebar .container .activities-section .activity .activity__images {
  margin-left: 24px;
}

body .main-container .right-sidebar .container .activities-section .activity .activity__images img:first-child {
  margin-right: 6px;
}

body .main-container .right-sidebar .container .refer-friend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 128px;
}

body .main-container .right-sidebar .container .refer-friend-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #eeebeb63;
  border-radius: 24px;
  padding: 12px;
  width: 60%;
  position: relative;
}

body .main-container .right-sidebar .container .refer-friend-card .content .fa-times {
  position: absolute;
  right: 20px;
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

body .main-container .right-sidebar .container .refer-friend-card .content .fa-times:hover {
  color: black;
}

body .main-container .right-sidebar .container .refer-friend-card .content h3 {
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 12px;
}

body .main-container .right-sidebar .container .refer-friend-card .content p {
  color: gray;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8989;
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5a5a;
}

abbr {
  text-decoration: none;
  outline: none;
  border-bottom: none;
}

/* media 960px */
/*# sourceMappingURL=style.css.map */